<!--=============== HOME ===============-->
@{
    Layout = "_Layout";
}
<section class="services section container" id="services">
    <h2 class="section__title">Структура Самоврядування ЛНУ</h2>
    <div>
        <div class="row">
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/head.jpg" alt="" class="card__img">
                    <div class="card__data">
                        <h1 class="card__title">Кульчицька Анжеліка Назарівна</h1>
                        <p class="card__description">Очільниця cтудентського уряду <br />ANZHELIKA.KULCHYTSKA@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/spiv.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Симко Вікторія Романівна</h1>
                        <p class="card__description">Заступниця голови із співпраці  <br />viktoriia.symko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/job.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кормило Марія Романівна</h1>
                        <p class="card__description">Заступниця голови з проєктної роботи <br />MARIIA.KORMYLO@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/gurt.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Єня Ельвіра Вадимівна</h1>
                        <p class="card__description">Очільниця Студентської ради Студентського містечка, заступниця голови з питань гуртожитків <br />elvira.yenia@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/secretar.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кульгавець Яромир Марʼянович</h1>
                        <p class="card__description">Cекретар Студентського уряду <br />yaromyr.kulhavets@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/pres.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Пільгуй Вероніка Євгенівна</h1>
                        <p class="card__description">Голова Пресцентру <br />veronika.pilhui@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/project.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Гавриш Катерина Олександрівна</h1>
                        <p class="card__description">Голова Проєктного комітету <br />kateryna.havrysh@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/sio.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Грегорчак Марія Михайлівна</h1>
                        <p class="card__description">Голова комітету зовнішньої співпраці <br />hrehorchakm@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/sport.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Біжик Дмитро Миколайович</h1>
                        <p class="card__description">Голова Спортивного комітету, голова Студентської ради фізичного факультету <br />dmytro.bizhyk@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/it.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Матвійчук Даніїл Ігорович</h1>
                        <p class="card__description">Голова ІТ-комітету <br />daniil.matviichuk@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/biolog.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Чабан Софія Ігорівна</h1>
                        <p class="card__description">Голова студентської ради біологічного факультету <br />sofiia.chaban.blb@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/geograf.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кліценко Єлизавета Олексіївна</h1>
                        <p class="card__description">Голова студентської ради географічного факультету <br />yelyzaveta.klitsenko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/geolog.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кемпа Павло Станіславович</h1>
                        <p class="card__description">Голова студентської ради геологічного факультету <br />pavlo.kempa@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/econom.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Вергун Галина Богданівнаа</h1>
                        <p class="card__description">Голова студентської ради економічного факультету <br />halyna.verhun@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/electronic.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Фіняк Олег Володимирович</h1>
                        <p class="card__description">Голова студентської ради факультету електроніки та комп'ютерних технологій <br />oleh.finiak@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/zhur.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Шелепило Віра Ігорівна</h1>
                        <p class="card__description">Голова студентської ради факультету журналістики <br />vira.shelepylo@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/inmov.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Гілевич Олеся Богданівна</h1>
                        <p class="card__description">Голова студентської ради факультету іноземних мов <br />olesia.hilevych@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/hist.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Замлинна Ірина Андріївна</h1>
                        <p class="card__description">Голова Студентської ради історичного факультету <br />iryna.zamlynna@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/art.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Сафонова Анастасія Володимирівна</h1>
                        <p class="card__description">Голова студентської ради  факультету культури та мистецтв <br />anastasiia.safonova@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/mechmat.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Лавриненко Станіслав Євгенович</h1>
                        <p class="card__description">Голова студентської ради механіко-математичного факультету <br />stanislav.lavrynenko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/mizhnar.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Крестинич Денис Павлович</h1>
                        <p class="card__description">Голова студентської ради факультету міжнародних відносин <br />denys.krestynych@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/ped.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Цимбаліста Юлія Олегівна</h1>
                        <p class="card__description">Голова студентської ради факультету педагогічної освіти <br />yuliia.tsymbalista@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/fpmi.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Коропецький Роман Андрійович</h1>
                        <p class="card__description">Голова студентської ради факультету прикладної математики та інформатики <br />roman.koropetskyi@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/fufb.jpg" alt="" class="card__img">
                    <div class="card__data">
                        <h1 class="card__title">Холост Анастасія Володимиріна</h1>
                        <p class="card__description">Голова Студентської ради факультету управління фінансами та бізнесу  <br />anastasiia.kholost@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/phil.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Рак Катерина Борисівна</h1>
                        <p class="card__description">Голова студентської ради філологічного факультету <br />kateryna.rak@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/philosof.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Найдьон Катерина Євгенівна</h1>
                        <p class="card__description">Голова студентської ради філософського факультету <br />kateryna.naidon@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/chimic.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Дацко Роман Мирославович</h1>
                        <p class="card__description">Голова студентської ради хімічного факультету <br />roman.datsko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/law.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Колтун Андрій Степанович</h1>
                        <p class="card__description">Голова студентської ради юридичного факультету <br />andrii.koltun@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/pedosv.jpg" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Іващишин Діана Ігорівна</h1>
                        <p class="card__description">Голова студентської ради ВСП "Педагогічний фаховий коледж" <br />Diana.Ivashchyshyn.DShS@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
