<!--=============== HOME ===============-->
@{
    Layout = "_Layout";
}
<section class="services section container" id="services">
    <h2 class="section__title">Структура Самоврядування ЛНУ</h2>
    <div>
        <div class="row">
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/head.png" alt="" class="card__img">
                    <div class="card__data">
                        <h1 class="card__title">Кульчицька Анжеліка Назарівна</h1>
                        <p class="card__description">Очільниця cтудентського уряду <br />ANZHELIKA.KULCHYTSKA@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/first.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Михалюк Ірина Вікторівна</h1>
                        <p class="card__description">Перша заступниця голови <br />Iryna.Mykhaliuk@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/second.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Симко Вікторія Романівна</h1>
                        <p class="card__description">Голова студентської ради історичного факультету, заступниця голови з науки та співпраці <br />viktoriia.symko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/third.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Притула Марія Михайлівна</h1>
                        <p class="card__description">Голова студентської ради філологічного факультету, заступниця голови з організаційних питань <br />MARIIA.PRYTULA@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/secretar.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кульгавець Яромир Марʼянович</h1>
                        <p class="card__description">Cекретар Студентського уряду <br />yaromyr.kulhavets@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/fourth.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Кормило Марія Романівна</h1>
                        <p class="card__description">Голова студентської ради факультету управління фінансами та бізнесу, операційна менеджерка <br />MARIIA.KORMYLO@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/seventh.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Скасків Юлія Василівна</h1>
                        <p class="card__description">Голова Пресцентру  <br />yuliia.skaskiv@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/eighth.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Пилипенко Діана Станіславівна</h1>
                        <p class="card__description">Голова проєктного комітету <br />diana.pylypenko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/fifth.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Грегорчак Марія Михайлівна</h1>
                        <p class="card__description">Голова комітету зовнішньої співпраці <br />hrehorchakm@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/nineth.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Дикий Назар Ігорович</h1>
                        <p class="card__description">Голова спортивного комітету <br />nazar.dykyy@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/sixth.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Шевчук Маріан-Северин Андрійович</h1>
                        <p class="card__description">Голова ІТ-комітету <br />marian-severyn.shevchuk@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/biolog.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Руденко Вікторія Дмитрівна</h1>
                        <p class="card__description">Голова студентської ради біологічного факультету <br />VIKTORIIA.RUDENKO@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/geograf.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Стельмах Анна Петрівна</h1>
                        <p class="card__description">Голова студентської ради географічного факультету <br />anna.stelmakh@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/geolog.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Давид Софія Ігорівна</h1>
                        <p class="card__description">Голова студентської ради геологічного факультету <br />Sofiia.Davyd@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/econom.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Вергун Галина Богданівн</h1>
                        <p class="card__description">Голова студентської ради економічного факультету <br />halyna.verhun@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/electronic.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Фіняк Олег Володимирович</h1>
                        <p class="card__description">Голова студентської ради факультету електроніки та комп'ютерних технологій <br />oleh.finiak@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/zhur.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Шелепило Віра Ігорівна</h1>
                        <p class="card__description">Голова студентської ради факультету журналістики <br />sofiia.mykush@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/inmov.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Микуш Софія Павлівна</h1>
                        <p class="card__description">Голова студентської ради факультету іноземних мов <br />sofiia.mykush@lnu.edu.uaa</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/art.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Федоров Давид Дмитрович</h1>
                        <p class="card__description">Голова студентської ради  факультету культури та мистецтв <br />Davyd.Fedorov@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/mechmat.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Лавриненко Станіслав Євгенович</h1>
                        <p class="card__description">Молова студентської ради механіко-математичного факультету <br />stanislav.lavrynenko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/mizhnar.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Черненко Владислав Ігорович</h1>
                        <p class="card__description">Голова студентської ради факультету міжнародних відносин <br />VLADYSLAV.CHERNENKO@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/ped.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Шевчук Каріна Миколаївна</h1>
                        <p class="card__description">Голова студентської ради факультету педагогічної освіти <br />Karina.Shevchuk@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/fpmi.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Андрейко Наталія Андріївна</h1>
                        <p class="card__description">Голова студентської ради факультету прикладної математики та інформатики <br />nataliia.andreiko@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/physics.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Клепач Михайло Михайлович</h1>
                        <p class="card__description">Голова студентської ради фізичного факультету  <br />mykhailo.klepach@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/philosof.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Найдьон Катерина Євгенівна</h1>
                        <p class="card__description">Голова студентської ради філософського факультету <br />kateryna.naidon@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/chimic.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Свістак Максим Іванович</h1>
                        <p class="card__description">Голова студентської ради хімічного факультету <br />maksym.svistak@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/law.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Караман Любомир Олегович</h1>
                        <p class="card__description">Голова студентської ради юридичного факультету <br />LIUBOMYR.KARAMAN@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/pedosv.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Джавала Ірина Миколаївна</h1>
                        <p class="card__description">Голова студентської ради ВСП "Педагогічний фаховий коледж" <br />iryna.dzhavala@lnu.edu.ua</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/rada2.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Бережненко Ангеліна Сергіївна</h1>
                        <p class="card__description">Радниця Студентського уряду </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/rada1.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Каленіченко Олексій Андрійович</h1>
                        <p class="card__description">Радник Студентського уряду</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 card_container">
                <div class="card">
                    <img src="~/img/Structure/rada3.png" alt="" class="card__img">

                    <div class="card__data">
                        <h1 class="card__title">Тереховська Андріана Романівна</h1>
                        <p class="card__description">Радниця Студентського уряду </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
